---
import { getCollection } from "astro:content";

import BlogCard from "@/components/BlogCard.astro";
import BlogHeader from "@/components/BlogHeader.astro";
import Layout from "@/layouts/Layout.astro";
import { capitalizer } from "@/lib/utils";

export async function getStaticPaths() {
  const allBlogs = await getCollection("blogs");
  const uniqueCategories = [
    ...new Set(allBlogs.map((blog) => blog.data.category).flat()),
  ];

  return uniqueCategories.map((category) => {
    const filteredPosts = allBlogs
      .filter((blog) => blog.data.category.includes(category))
      .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
    return {
      params: { category },
      props: { blogs: filteredPosts },
    };
  });
}

const { category } = Astro.params;
const { blogs } = Astro.props;
---

<Layout
  title={`${capitalizer(category)} | Blog`}
  description={`All blogs for ${category} category`}
>
  <section class="container py-10">
    <BlogHeader title={`Blogs under ${category} category`} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-9 md:gap-y-16 lg:gap-x-8"
    >
      {blogs.map((blog) => <BlogCard {...blog} />)}
    </div>
  </section>
</Layout>
