---
import Layout from "@/layouts/Layout.astro";
import LinkTree from "@/components/LinkTree";
import PageHero from "@/components/PageHero";
---

<Layout
  title="Contact Us"
  description="Get in touch with us to learn more about our rotaract club."
>
  <main class="min-h-screen">
    <PageHero
      title="Get in Touch"
      description="We would love to hear from you. If you have any questions or would like to learn more about our club, feel free to reach out to us."
      client:load
    />
    <section class="w-full py-8 md:py-12 bg-gray-50 dark:bg-gray-900">
      <div class="container lg:px-24">
        <LinkTree client:load />
      </div>
    </section>
  </main>
</Layout>
