---
import Layout from "@/layouts/Layout.astro";
import GalleryGrid from "@/components/GalleryGrid";
import { getCollection } from "astro:content";
import { Button } from "@/components/ui/button";
import PageHero from "@/components/PageHero";

const gallery = await getCollection("gallery");
---

<Layout
  title="Our Activities"
  description="Explore our past and present activities."
>
  <div class="min-h-screen">
    <PageHero
      title="Gallery"
      description="Explore our gallery of images from past events and activities."
      client:load
    />
    <section class="w-full py-8 md:py-12 bg-gray-50 dark:bg-gray-900">
      <div class="container px-4 md:px-6">
        <div class="flex flex-col items-center justify-center space-y-8">
          <div class="w-full">
            <GalleryGrid images={gallery} client:load />
          </div>
          <a
            href="https://t.me/racwodiyamadogallery"
            class="inline-block"
            target="_blank"
          >
            <Button size="lg"> Visit our Telegram Gallery </Button>
          </a>
        </div>
      </div>
    </section>
  </div>
</Layout>
