---
import Layout from "@/layouts/Layout.astro";
import ClubStructure from "@/components/ClubStructureComponent.tsx";
import { getCollection } from "astro:content";
import PageHero from "@/components/PageHero";

const structures = await getCollection("structures");
structures.reverse();
---

<Layout
  title="Rotaract Structure"
  description="Learn more about our club's structure and organization."
>
  <main class="flex-1">
    <PageHero
      title="Club Structure"
      description="Here are the board members and directors who lead our club's initiatives."
      client:load
    />
    <section class="w-full">
      <div class="container px-4 md:px-6">
        {
          structures.length > 0 ? (
            <ClubStructure structures={structures} client:load />
          ) : (
            <div class="flex items-center justify-center h-96">
              <p class="text-lg text-gray-500 dark:text-gray-400">
                No club structure information available right now.
              </p>
            </div>
          )
        }
      </div>
    </section>
  </main>
</Layout>
