---
import { getCollection, type CollectionEntry } from "astro:content";

export const prerender = true;

import BlogCard from "@/components/BlogCard.astro";
import BlogHeader from "@/components/BlogHeader.astro";
import Layout from "@/layouts/Layout.astro";
import PageHero from "@/components/PageHero";
import { capitalizer } from "@/lib/utils";

export async function getStaticPaths() {
  const allBlogs = await getCollection("blogs");
  const uniqueCategories = [
    ...new Set(allBlogs.map((blog) => blog.data.category)),
  ];

  return uniqueCategories.map((category) => {
    const filteredPosts = allBlogs
      .filter((blog) => blog.data.category === category)
      .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
    return {
      params: { category },
      props: { blogs: filteredPosts },
    };
  });
}

const { category } = Astro.params;
const { blogs } = Astro.props as { blogs: CollectionEntry<"blogs">[] };
---

<Layout
  title={`${capitalizer(category || "") } | Blogs`}
  description={`All blogs for ${category} category`}
>
  <div class="min-h-screen">
    <PageHero
      title={`Blogs under ${category}`}
      description={`Explore our collection of articles in the ${category} category.`}
      client:load
    />
    <section class="container py-8 md:py-12 bg-gray-50 dark:bg-gray-900">
      <BlogHeader title={`Blogs under ${category}`} />
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-9 md:gap-y-16 lg:gap-x-8"
      >
        {blogs.map((blog) => <BlogCard {...blog} />)}
      </div>
    </section>
  </div>
</Layout>
