---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import BlogsPage from "@/components/blogs/BlogsPage";
import PageHero from "@/components/PageHero";

const blogsCollection = await getCollection("blogs");
const blogs = blogsCollection.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<Layout title="Blog" description="Blog posts">
  <div class="min-h-screen">
    <PageHero
      title="Our Blogs"
      description="Read our latest stories, updates, and insights from the team."
      client:load
    />
    <BlogsPage blogs={blogs} client:load />
  </div>
</Layout>
